<!DOCTYPE html>
<html lang="en">
    <head>
        <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="child1" style="background-color: green; text-align: center; color: white;">
            <h1 center>Student Payment</h1>
        </div>
        <div class="child2">
            <button>Search & View</button> Add
        </div><br>
        <div class="child3" style="display: inline-flex;">
            <div>
            <section style="margin-bottom: 10px;">
                <label>
                    <span>Class</span>
                    <select style="margin-left: 50px;">
                        <option value="Softpedia">Softpedia</option>
                    </select>
                </label>
            </section>
            <section style="margin-bottom: 10px;">
                <label>
                    <span>Student ID</span>
                    <select style="margin-left: 16px;">
                        <option value="Stu-003">Stu-003</option>
                    </select>
                </label>
            </section>
            <section>
                <label>
                    <span>Roll</span>
                    <input type="search" style="margin-left: 57px;">
                </label>
            </section>
            </div>
            <div style="margin-left: 25px;">
            <section style="margin-bottom: 10px;">
                <label>
                    <span>Section</span>
                    <input type="" style="margin-left: 50px;" placeholder="$">
                </label>
            </section>
            <section style="margin-bottom: 10px;">
                <label>
                    <span>Student Name</span>
                    <input type="" style="margin-left: 7px;">
                </label>
            </section>
            <section>
                <label>
                    <span>Exam Type</span>
                    <input type="search" style="margin-left: 23px;">
                </label>
            </section>
            </div >
            <div style="margin-left: 25px; display: block;">
            <Span style="color: blue;">Current Balance : 0</Span>
            <button style="width: 100px; height: 80px;">Serarch</button>
            </div>
        </div>
    </div>
    <div  style="display: flex;">
        <div style="border: 2px solid black; height: 290px; width: 180px;padding: 100px;
        margin: 10px;">
        </div>
        <div style="margin-left: 10px; margin-top: 15px;">
            <section style="margin-bottom: 10px;">
                <label>
                    <span>Free Type</span>
                    <input type="" style="margin-left: 30px;" placeholder="Yearly">
                </label>
            </section>
            <section style="margin-bottom: 10px;">
                <label>
                    <span>Fee Catagory</span>
                    <input style="margin-left: 10px;" type="">
                </label>
            </section>
            <section style="margin-bottom: 10px;">
                <label>
                    <span>Amount</span>
                    <input placeholder="100" type="search" style="margin-left: 42px;">
                </label>
            </section>
            <section style="margin-bottom: 10px;">
                <label>
                    <span>Month</span>
                    <input type="month" style="margin-left: 53px;" placeholder="May">
            </section>
            <button style="margin: 10px;">Add</button>
            <button style="margin: 10px;">Cut</button>
            <div style="border: 2px solid black;">
                <table style="padding: 10px;
                margin-bottom: 250px;">
                    <tr>
                        <th></th>
                        <th>Free Category</th>
                        <th>Month</th>
                        <th>Amount</th>
                    </tr>
                </table>
            </div>
        </div>
        <div style="margin-top: 20px; margin-left: 20px;">
            <section style="margin-bottom: 10px;">
                <label>
                    <span>Payment Voucher</span>
                    <input type="" style="margin-left: 50px;">
                </label>
            </section>
            <section style="margin-bottom: 10px;">
                <label>
                    <span>Paymwnt Date</span>
                    <input type="date" style="margin-left: 68px;">
                </label>
            </section>
            <section style="margin-bottom: 10px;">
                <label>
                    <span>Total Amount</span>
                    <input style="margin-left: 75px;" placeholder="100" type="">
                </label>
            </section>
            <section style="margin-bottom: 10px;">
                <label>
                    <span>Discount Amount</span>
                    <input style="margin-left: 50px;" type="" placeholder="10">
                </label>
            </section>
            <section style="margin-bottom: 10px;">
                <label>
                    <span>Payable Amount</span>
                    <input style="margin-left: 58px;" type="" placeholder="90">
                </label>
            </section>
            <section style="margin-bottom: 10px;">
                <label>
                    <span>Note</span>
                    <select style="margin-left: 134px;">
                        <option value="Softpedia">Softpedia Test</option>
                    </select>
                </label>
            </section>
            <button style="margin: 10px;">Payment</button>
            <div style="margin: 10px;">
                <button>New</button>
                <button>Delete</button>
                <button>Browse</button>
                <button>Close</button>
            </div>
        </div>
    </div>
</body>
</html>